@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Electrolize&display=swap');

#signup-wrapper {
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color: #3A3F4B;
    font-family: 'Cairo';
}

.signup {
    border:10px solid #F0F0F0;
    border-radius: 20px;
    width:600px;
    height: 700px;
    padding:20px;
    margin-top:75px;
    display:flex;
    flex-direction: column;
    justify-self: center;
    background-color: #F0F0F0;
}

.signup p {
    text-align: center;
    font-size: 22px;
}

.signup__logo {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#inner-logo {
    width: 140px;
    height: 140px; 
    padding-right:20px;
}

.signup__logo span {
    font-size: 24px;
    font-family: "Electrolize";
    padding-top: 15px;
    letter-spacing: 2px;
    text-transform:uppercase;
}

.signup form {
    display:flex;
    flex-direction: column;
    gap:5px;
}

.signup form input {
    height:50px;
    font-size: 16px;
    margin-top:10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
    padding-left: 20px;
}

.signup form input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

#signup-btn {
    font-family: 'Cairo';
    font-size: 20px;
    margin-top:20px;
    background-color: #428bca;
    border: 1px solid transparent;
    border-radius: 6px;
    padding:5px;
    color:white;
}

#warning-icon {
    width:25px;
    height:25px; 
    padding-right:10px;
    margin-top:4px;
}

.signup__error {
    display:flex;
    justify-content: center;
    margin-top:35px;
}

.signup__error span {
    color:red;
    font-size: 18px;
}

